textarea {
    font-family: Courier, monospaced;
    font-size: 12px;
    border: 1px solid red;
    background-color: #fee;
    width: 700px;
    height: 150px;
}

textarea.sample {
    border: 1px solid black;
    background-color: #eee;
    height: 75px;
}

textarea.sample:hover {
	cursor: pointer;
}